{:paths ["src"]
 :deps  {com.cnuernber/charred     {:mvn/version "1.037"}
         dev.data-star.clojure/sdk {:mvn/version "1.0.0-RC1"}
         dev.onionpancakes/chassis {:mvn/version "1.0.365"}
         no.cjohansen/nexus        {:mvn/version "2025.07.1"}}
 :aliases
 {:dev {:extra-paths ["dev/src"]
        :extra-deps  {dev.data-star.clojure/http-kit {:mvn/version "1.0.0-RC1"}
                      hiccup/hiccup                  {:mvn/version "2.0.0"}
                      integrant/integrant            {:mvn/version "0.13.1"}
                      io.github.tonsky/clj-reload    {:mvn/version "0.9.7"}
                      metosin/malli                  {:mvn/version "0.19.1"}
                      metosin/reitit                 {:mvn/version "0.9.1"}
                      ring/ring-mock                 {:mvn/version "0.6.2"}}}
  :test {:extra-paths ["test/src"]
         :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts   ["-m" "cognitect.test-runner"]
         :exec-fn     cognitect.test-runner.api/test}}}
